
<header>
    <h2>!TINY APP!</h2>

    <!-- Login Form-->
    <% if (user) { %>
        <h2><%= user %></h2>
        <form action= "/logout" method="POST">
            <!--logout button -->
            <input type="submit" value="Logout"> 
        </form>
    <% } else { %>
        <form action= "/login" method="GET">
            <!--login button -->
            <input type="submit" value="Login"> 
        </form>
        <form action= "/register" method="GET">
            <!--register button -->
            <input type="submit" value="Register"> 
        </form>
    <% } %>
</header>