<!DOCTYPE html>
<html lang="en">
        <head>
                <% include partials/_header %>
        </head>
        <body>
    <% if (user) { %>
        <h2><%= user %></h2>
        <form action= "/logout" method="POST"">
            <input type="submit" value="Logout"> <!--logout button -->
    </form>
    <% } else { %>
        <form action= "/login" method="POST"">
            <label for="email">E-mail: </label>
            <input id="email" type="email" name="email">
            <label for="password">Password: </label>
            <input id="password" type="password" name="password">
            <input type="submit" value="Login"> <!--login button -->
        </form>
    <% } %>
    </body>
  </html>
