
<% include partials/_header %>

<div>
    Short URL!
</div>
<div>
    <%= shortURL %>
</div>


<form action= "/urls/<%= shortURL %>" method="POST" style="margin:150px;">
    <input id="longURL" type="text" name="longURL" value="<%= longURL %>" style="width: 300px">
    <input type="submit" value="Update"> <!--update button -->
</form>
<!-- changed the placeholder to value so we can update the value of it la la add more notes-->

