<!--This will display all the urls and their shortened forms-->

<!DOCTYPE html>

<html lang = "en">
    <head>
        <title>TinyApp</title>
    </head>
    <body>
        <!--Add your EJS code here -->
        <% include partials/_header %>
        <div>

        <!--Link! But empty-->
            <a href='#'>LINK!! (Not Zelda)</a>
            <ul>
        <!--Loop through Urls and display long and short-->
            <% for (var shortURL in urls) { %>
               <li>
                
                <!--long urls?-->
                <%= urls[shortURL] %>  ----->
                <!--short urls?-->
                <%= shortURL %> 
                <br>
                <a href= "/urls/<%= shortURL %>">Edit</a>
                <br>
                <form method="POST" action="/urls/<%= shortURL %>/delete"> <!--= makes it seen, want it seen!-->
                    <input type="submit" value="Delete">
                </form>
               </li>
            <% } %>
            </ul>
        </div>
    </body>
</html>

