<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_header %>
  </head>

<body> 
    <div>
        <h4>
            Short URL:
        </h4>
            <%= shortURL %>
    </div>
    
    <!--Form for Updating Urls-->
    <form action= "/urls/<%= shortURL %>" method="POST" style="margin:150px;">
        <input id="longURL" type="text" name="longURL" value="<%= longURL %>" style="width: 300px">
        <input type="submit" value="Update"> <!--update button -->
    </form>

</body>

